.slick-arrow {
    width: 10%;
    height: 90%;
}

.slick-prev {
    z-index: 1;
    left: 6px;

    opacity: 1;
}

.slick-next {
    z-index: 1;
    right: 6px;

    opacity: 1;
}

.slick-dots {
    bottom: 7px;
}

.slick-dots li button:before {
    width: 10px;
    height: 10px;

    content: " ";
    transition: all 0.3s linear;

    opacity: 1;
    border-radius: 2px;
    background-color: white;
}

.slick-dots li.slick-active button:before {
    top: -3px;

    width: 15px;
    height: 15px;

    opacity: 1;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 20%);
}
